@import "tailwindcss";

html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0,0,0,0);
}

.wrapper {
    width: 100%;
    max-height: min((100vh - 96px) - 60px, 734px);
    min-height: 100px;
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 10px;
    margin-top: 5px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
}

.wrapper-account {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    width: 98%;
    border-radius: 20px;
}

.wrapper-btn {
    min-width: 100px;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 3px 16px 5px 16px;
    cursor: pointer;
}

.sidebar-btn {
    width: 80px;
    font-size: 12px;
    font-weight: 600;
    padding: 3px 16px 5px 16px;
    cursor: pointer;
    background-color: red;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

// đứng cạnh nhau thì cách nhau 8px
+ .wrapper-btn {
    margin-left: 8px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
    object-fit: cover;
}

.profile_avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 12px;
    object-fit: cover;
}

.sidebarAvatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 12px;
    object-fit: cover;
}

.infor {
    flex: 1;
    margin-left: 12px;
}

.name {
    font-size: 15px;
    font-weight: 600;
    color: rgb(22, 24, 35);
}

.username {
    font-size: 1.4 rem;
}

.sidebarHover:hover {
    background-color: rgba(22, 24, 35, 0.03);
    border-radius: 10px;
    color: gray;
    transition: background-color ease-in-out 200ms;
}

input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 999px;
    background: red;
    cursor: pointer;
}